.fp-bg1{
    position:absolute;
    top: 0vh;
    left: 0;
    width:100%;
    height: 100%;
    background-color: black;
    overflow: hidden;

}

.fp-bg1 img{
    width: 100%;
}

.fp-logo{
    position:absolute;
    top: 0vh;
    left: 1vw;
    height: 30vh;
    width: 20vw;
}

.fp-profilelogo{
    position:absolute;
    top: 4vh;
    right: 5vw;
    height: 5vh;
    width: 2.5vw;
}

.fp-belllogo{
    position:absolute;
    top: 4vh;
    right: 10vw;
    height: 5vh;
    width: 2.5vw;
}

/* Container styling */
.toggle-container {
    position: absolute;
    top:18vh;
    left: 50%;
    transform: translate(-50%, 0%);
    display: flex;
    width: 300px;
    background-color: #000000ad;
    border-radius: 30px;
    padding: 5px;
    justify-content: space-between;
    position: relative;
    cursor: pointer;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
  }
  

  .toggle-button {
    flex: 1;
    text-align: center;
    padding: 10px 0;
    border-radius: 30px;
    transition: all 0.3s ease;
    font-weight: bold;
    font-size: 14px;
    color: white;
  }
  

  .toggle-button.active {
    background-color: #FD9F69;
    color: white;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
  }
  
















  .co-card {
    position:absolute;
    width: 100%;
    height: 50%;
    top: 30vh;
    left:0;
  }
  

  .card1 {
    position: absolute;
    top: 5vh;
    left: 20vw;
    height: 40vh;
    width: 30vw;
    z-index: 1; /* Default stack level */
    border-radius: 2rem;  
  }
  
  .card2 {
    position: absolute;
    left: 25vw;
    top: 0;
    height: 50vh;
    width: 50vw;
    z-index: 3; /* Higher stack level to overlay card1 and card3 */
    border-radius: 2rem; 
    
    
  }
  
  .card3 {
    position: absolute;
    top: 5vh;
    right: 20vw;
    height: 40vh;
    width: 30vw;
    z-index: 1; /* Default stack level */
    border-radius: 2rem; 
     
  }
  
  

  .card1 img{
    height: 40vh;
    width: 30vw;
    border-radius: 15px; 
    border-radius: 2rem; 
  }

  .card2 img{
    height: 50vh;
    width: 50vw;
    border-radius: 2rem; 
  }

  .card3 img{
    height: 40vh;
    width: 30vw;
    border-radius: 2rem;
  }

  .co-card .card {
    border: none;
    overflow: hidden; 
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); 
  }

  
  .co-card .card::before {
    content: "";
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 100%; 
    /* background: linear-gradient(
      to top,
      rgba(0, 0, 0, 0.8), 
      rgba(0, 0, 0, 0.9) 5%, 
      rgba(0, 0, 0, 0.6) 10%,
      rgba(0, 0, 0, 0) 100% 
    ); */
    z-index: 1; 
  }
  
  .card-title {
    position: absolute;
    bottom: 10%; 
    left: 2vw;
    color: #fff; 
    font-size: 1.2rem; 
    font-weight: bold; 
    z-index: 2; 
  }

  .card-location {
    position: absolute;
    bottom: 20%; 
    left: 2vw;
    font-size: 1.2rem; 
    font-weight: bold; 
    z-index: 2; 
    background: linear-gradient(90deg, #FCE8A3 32.41%, #FD9F69 105.07%);
    color: black;
    padding: .5rem;
    border-radius: 1rem;
  }
  
  

  
.navigation-buttons {
    top: 83vh;
    left: 47vw;
    position: absolute;
    display: flex;
    justify-content: center;
}

.prev-button, .next-button {
  background-color: rgba(0, 0, 0, 0);
  color: white;
  border: none;
  margin: 0 10px;
  cursor: pointer;
  font-size: 2rem;
  transition: background-color 0.3s ease;
}



.card-views{
    position: absolute;
    height: 3vh;
    /* width: 3vw; */
    top: 5%; 
    left: 40vw;
    font-size: 1.2rem; 
    font-weight: bold; 
    background: rgba(0, 0, 0, 0.623);
    color: white;
    padding: .5rem;
    border-radius: 3rem;
}

.card-visits{
    position: absolute;
    height: 3vh;
    top: 5%; 
    left: 34vw;
    font-size: 1.2rem; 
    font-weight: bold; 
    background: rgba(0, 0, 0, 0.623);
    color: white;
    padding: .5rem;
    border-radius: 3rem;
}

.card-links{
    position: absolute;
    height: 3vh;
    top: 5%; 
    left: 45vw;
    font-size: 1.2rem; 
    font-weight: bold; 
    background: rgba(0, 0, 0, 0.623);
    color: white;
    padding: .5rem;
    border-radius: 3rem;
}



.card-icons1{
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 2rem;
    border-radius: 10rem;
    top: 40%;
    left: 50%;
    background-color: rgba(0, 0, 0, 0.301);
    color: white;
    height: 8vh;
    width: 4vw;
}

.card-icons2{
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 2rem;
    border-radius: 10rem;
    top: 40%;
    left: 30%;
    color: white;
    background-color: rgba(0, 0, 0, 0.301);
    height: 8vh;
    width: 4vw;
}

.card-icons3{
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 2rem;
    border-radius: 10rem;
    top: 40%;
    left: 70%;
    color: white;
    background-color: rgba(0, 0, 0, 0.301);
    height: 8vh;
    width: 4vw;
}

.fp-pyt{
    position: absolute;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    background-color: rgba(0, 0, 0, 0.452);
    border: 1px solid;
    border-color: linear-gradient(90deg, #FCE8A3 32.41%, #FD9F69 105.07%);
    border-radius: 3rem; 
    color: white;
    height: 5vh;
    width: 10vw;
    top: 90vh;
    left: 45vw;
    padding: 0.5rem;

}


.carousel{
  height:50vh;
  width: 70vw;
  position: absolute;
  top:30vh;
  left: 15vw;
  overflow: hidden;
}







/* Sidebar styling */
.sidebar {
  position: fixed;
  top: 15%;
  left: 0;
  height: 80vh;
  
  overflow: hidden;
  width: 0;
  transition: width 0.3s ease;
  color: white;
  border-radius: 3rem 3rem 3rem 3rem;

}

.sidebar.open {
  width: 200px;  /* Adjust the width when the sidebar is open */
  background-color: rgba(0, 0, 0, 0.466); /* Reduced opacity */
  mask-image: 
  linear-gradient(to bottom, rgba(0, 0, 0, 0.658) 90%, transparent 100%), 
  linear-gradient(to top, rgb(0, 0, 0) 90%, transparent 100%),   
  linear-gradient(to left, black 90%, transparent 100%),
  linear-gradient(to right, black 90%, transparent 100%); 
  mask-composite: intersect;
  
}

.sidebarcontent {
  display: none;
}

.sidebar.open .sidebarcontent {
  display: block;
  padding: 20px;
}

.sidebararrow {
  background-color: rgba(255, 255, 255, 0.664);
  position: absolute;
  top: 45%;
  left: 0;
  height: 8vh;
  width: 46px;
  border-radius: 0px 14px 14px 0px;
  cursor: pointer;
  opacity: 1;
  transition: opacity 0.3s ease, left 0.3s ease;
}

.sidebar.open .sidebararrow {
  left: 200px; /* Move the arrow along with the sidebar */
}

/* Hide the arrow when sidebar is open */
.sidebararrow.hide {
  display: none;
}

.sidearrowicon {
  height: 100%;
  width: 100%;
}

/* Close button inside sidebar */
.closebtn {
  background: none;
  border: none;
  color: white;
  font-size: 3rem;
  cursor: pointer;
  padding: 10px;
  position: absolute;
  bottom: 10px;
  right: 4rem;
}

.closebtn:hover {
  color: #f44336; /* Add a hover effect for the close button */
}

.sidebar-contents{
    left: 0;
    position: absolute;
    width: 100%;
    height: 80%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
}